body {
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background: rgb(75,179,154);
    background: linear-gradient(180deg, rgba(75,179,154,1) 0%, rgba(54,132,107,1) 100%); 
    background-attachment: fixed;
}

main {
    padding-top: 20px;
    padding-left: 40px;    
    width: 960px;
    height: 300px;
}

#newBookButton {
    background: rgb(241,178,75);;
    border: 2px solid black;
    cursor: pointer;
}

#newBookPopup {
    position: fixed;
    z-index: 1; /* Sit on top */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.4); 
    border:#4bb39a 1px solid;
    visibility: hidden;
    transition: all 0.5s;
}

#newBookForm {
    display: flex;
    flex-direction: column;
    background-color: #36846b;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 20%; 
    gap: 5px;
}

.close {
    color: #aaa;
    text-align: end;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#libraryDiv {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}

.bookCard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
    height: 400px;
    padding-bottom: 5px;
    border: 1px solid black;
    box-shadow: 6px 8px black;
    background: rgb(241,178,75);
    background: linear-gradient(180deg, rgba(241,178,75,1) 0%, rgba(214,132,56,1) 100%); 
}

.textCard {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-self: center;
    width: 290px;
    height: 400px;
    justify-content: space-between;
}

.authorText {
    font-size: 18px;
    flex-grow: 8;
}

.titleText {
    font-size: 42px;
    font-style: italic;
    font-weight: bold;
    flex-grow: 20;
}

.pagesText, .readText {
    font-size: 12px;
    flex-grow: 1;
}

.deleteButton {
    width: 35px;
    height: 35px;
    align-self: flex-end;
    background: none;
    border-radius: 0px 0px 0px 30px;
    background: rgba(255, 0, 0, 0.356);
    border: none;
}

.deleteButton:hover {
    background: rgba(255, 0, 0, 0.356);
    cursor: pointer;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    align-self: center;
}

/* Hide default HTML checkbox */
.switch input{
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 34px;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    top: 1px;
    border-radius: 50%;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
  
input:checked + .slider {
    background-color: rgb(75,179,154);
}
  
input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}
  
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

header {
    display: flex;
    position: fixed;
    width: 10%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
    left: 20px;
    top: 10px;
    color: white;
}

#headerTitle {
    font-size: 42px;
}

h5 {
    display:flex;
    margin-top: -25px;
}

img {
    margin-right: 22px;
}