body {
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background: rgb(75,179,154);
    background: linear-gradient(180deg, rgba(75,179,154,1) 0%, rgba(54,132,107,1) 100%); 
    background-attachment: fixed;
}

main {
    padding-top: 20px;    
    width: 760px;
    height: 300px;
}

#newBookPopup {
    position: fixed;
    z-index: 1; /* Sit on top */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.4); 
    border:#4bb39a 1px solid;
    visibility: hidden;
    transition: all 0.5s;
}

#newBookForm {
    display: flex;
    flex-direction: column;
    background-color: #36846b;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 20%; 
    gap: 5px;
}

.close {
    color: #aaa;
    text-align: end;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#libraryDiv {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
}

.bookCard {
    width: 150px;
    height: 200px;
    border: 1px solid black;
    background: rgb(241,178,75);
    background: linear-gradient(180deg, rgba(241,178,75,1) 0%, rgba(214,132,56,1) 100%); 
    
}

.deleteButton {
    width: 50px;
    height: 50px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input{
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 34px;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    border-radius: 50%;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
  
input:checked + .slider {
    background-color: #2196F3;
}
  
input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}
  
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}


footer {
    color: whitesmoke;
}

h5 {
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
    margin-bottom: 0px;
}

img {
    max-width: 70%;
    height: auto;
}

a:link, a:hover, a:visited, a:active {
    color: white;
    padding-left: 5px;
}